* {
  transition: background 150ms ease-in, color 150ms ease-in;
}

body {
  background: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-base);
  font-size: var(--step-0);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.2;
}
h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-1);
}
a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration-thickness: 1px;
}
/* a:visited {
  color: var(--color-link-visited);
  text-decoration-color: var(--color-link-visited);
} */
a:hover {
  --color-link: var(--color-link-light);
  text-decoration-thickness: 0.1rem;
}
:focus {
  outline: 0.1rem solid var(--color-highlight);
  outline-offset: 0.1rem;
}
:hover:focus {
  outline: 0;
}
::selection {
  background: var(--color-highlight);
  color: var(--color-text);
}

.skip-link:focus {
  clip: unset;
  width: auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
  z-index: 99;
}

[role="banner"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--step--2) 0;
}
[role="banner"] > * {
  display: flex;
}

main {
  flex: auto;
  padding: var(--size-major) 0;
}
main:focus {
  outline: 0;
}
[role="banner"] nav {
  font-size: var(--step--1);
}
[role="banner"] nav > * + * {
  margin-left: var(--step--2);
}
button {
  background-color: var(--color-button);
  color: var(--color-button-hover);
  border: solid 0.1rem var(--color-button-hover);
  border-radius: var(--step--1);
  font-size: inherit;
  padding-left: var(--step--2);
  padding-right: var(--step--2);
  cursor: pointer;
}
button:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button);
}
[data-toggle-theme] {
  min-width: 19ch;
}
