/* Hero */
.hero {
  padding: var(--step-2) 0 var(--step-4);
}

.hero img {
  display: block;
  margin: auto;
}

/* Job card */
.card {
  background: var(--color-card);
  padding: var(--step-0);
  border-radius: 8px;
}
.card--title {
  font-size: var(--step-1);
  color: var(--color-card-title);
}
.card--date {
  color: var(--color-date);
  margin-bottom: var(--flow-space);
}
.card p {
  font-size: var(--step-0);
}
.card--skills {
  margin-top: var(--flow-space);
}

.tag {
  display: inline-block;
  background: var(--color-tag);
  color: var(--color-tag-text);
  font-size: var(--step--2);
  padding: 0.1rem 0.5rem;
  border-radius: var(--step-4);
}
.tag:not(:last-child) {
  margin-right: 1ch;
}

/* Experience */
.professional-experience,
.professional-experience > .grid-list {
  padding-top: var(--step-0);
  padding-bottom: var(--step-0);
}

.inline-list {
  line-height: 1.2;
}
.inline-list dt {
  color: var(--color-card-title);
}
.inline-list dt:not(:first-of-type)::before {
  display: block;
  content: "\A";
  font-size: var(--step--2);
  margin-top: var(--step--3);
  white-space: pre;
}
.inline-list dd {
  display: inline-block;
  font-size: var(--step--1);
  margin-right: 0.25rem;
}

/* Promo */
.promo {
  background-color: var(--color-promo);
  color: var(--color-secondary-mid);
  padding-top: var(--step-2);
}

.promo-gradient {
  background-image: linear-gradient(
    var(--color-promo) 16%,
    var(--color-body) 16%
  );
  margin-top: 0;
}

/* Skills and interests */
.skills-interests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  box-shadow: 0.1rem 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.4);
  border-radius: var(--step--3);
  background-color: white;
  background-color: var(--color-skills);
}
.skills-interests > article {
  padding: var(--step-0);
}
@media screen and (min-width: 638px) {
  .skills-interests > * + * {
    border-left: solid 1px var(--color-secondary-mid);
  }
}
