:root {
  /*
  "cool-grey-050": "#F5F7FA",
  "cool-grey-100": "#E4E7EB",
  "cool-grey-200": "#CBD2D9",
  "cool-grey-300": "#9AA5B1",
  "cool-grey-400": "#7B8794",
  "cool-grey-500": "#616E7C",
  "cool-grey-600": "#52606D",
  "cool-grey-700": "#3E4C59",
  "cool-grey-800": "#323F4B",
  "cool-grey-900": "#1F2933",

  "warm-grey-050": "#FAF9F7",
  "warm-grey-100": "#E8E6E1",
  "warm-grey-200": "#D3CEC4",
  "warm-grey-300": "#B8B2A7",
  "warm-grey-400": "#A39E93",
  "warm-grey-500": "#857F72",
  "warm-grey-600": "#625D52",
  "warm-grey-700": "#504A40",
  "warm-grey-800": "#423D33",
  "warm-grey-900": "#27241D",

  "blue-050": "#DCEEFB",
  "blue-100": "#B6E0FE",
  "blue-200": "#84C5F4",
  "blue-300": "#62B0E8",
  "blue-400": "#4098D7",
  "blue-500": "#2680C2",
  "blue-600": "#186FAF",
  "blue-700": "#0F609B",
  "blue-800": "#0A558C",
  "blue-900": "#003E6B",

  "red-900": "#610404"
  "red-800": "#780A0A"
  "red-700": "#911111"
  "red-600": "#A61B1B"
  "red-500": "#BA2525"
  "red-400": "#D64545"
  "red-300": "#E66A6A"
  "red-200": "#F29B9B"
  "red-100": "#FACDCD"
  "red-050": "#FFEEEE"

  "yellow-050": "#FFFAEB",
  "yellow-100": "#FCEFC7",
  "yellow-200": "#F8E3A3",
  "yellow-300": "#F9DA8B",
  "yellow-400": "#F7D070",
  "yellow-500": "#E9B949",
  "yellow-600": "#C99A2E",
  "yellow-700": "#A27C1A",
  "yellow-800": "#7C5E10",
  "yellow-900": "#513C06", 
  */

  --color-cool-grey-600: #52606d;
  --color-cool-grey-700: #3e4c59;
  --color-cool-grey-800: #323f4b;
  --color-cool-grey-850: #29343f;
  --color-cool-grey-900: #1f2933;
  --color-warm-grey-050: #faf9f7;
  --color-warm-grey-100: #e8e6e1;
  --color-warm-grey-200: #d3cec4;
  --color-warm-grey-400: #a39e93;
  --color-warm-grey-600: #625d52;
  --color-warm-grey-800: #423d33;
  --color-warm-grey-900: #27241d;
  --color-blue-100: #b6e0fe;
  --color-blue-200: #84c5f4;
  --color-blue-400: #4098d7;
  --color-blue-500: #2680c2;
  --color-blue-700: #0f609b;
  --color-blue-900: #003e6b;
  --color-red-400: #d64545;
  --color-red-700: #911111;
  --color-yellow-100: #fcefc7;
  --color-yellow-200: #f8e3a3;
  --color-yellow-400: #f7d070;
  --color-yellow-500: #e9b949;
  --color-yellow-600: #c99a2e;

  --color-text: var(--color-warm-grey-900);
  --color-heading: var(--color-warm-grey-800);
  --color-primary: var(--color-warm-grey-900);
  --color-primary-mid: var(--color-warm-grey-600);
  --color-primary-light: var(--color-warm-grey-400);
  --color-secondary: var(--color-warm-grey-200);
  --color-secondary-mid: var(--color-warm-grey-100);
  --color-secondary-light: var(--color-warm-grey-050);

  --color-body: var(--color-secondary-light);
  --color-promo: var(--color-primary);
  --color-skills: var(--color-secondary-light);
  --color-card: white;
  --color-card-title: var(--color-blue-700);
  --color-date: var(--color-primary-mid);
  --color-tag: var(--color-blue-100);
  --color-tag-text: var(--color-text);
  --color-link: var(--color-blue-700);
  --color-link-light: var(--color-blue-400);
  --color-link-visited: var(--color-red-700);
  --color-highlight: var(--color-yellow-400);
  /* 

  shadow #857F72 or #A39E93 or #B8B2A7 or #D3CEC4 or #E8E6E1
  */

  /* --font-base: Georgia, serif; */
  --font-base: Quicksand, "Helvetica Neue", sans-serif;
  --font-heading: Quicksand, Georgia, sans-serif;
  /* --font-heading: "Helvetica Neue", sans-serif; */
  --font-mono: "Courier New", Courier, monospace;

  --size-major: var(--step-4);
}
