<footer role="contentinfo">
  <div class="wrapper">
    <p>
      <a
        href="https://11ty.dev"
        target="_blank"
        rel="noopener noreferrer"
      >
        Powered by 11ty
      </a>
    </p>
  </div>
</footer>