<header role="banner">
  <p class="indent"><strong>struan</strong>king</p>
  <nav>
    <a href="https://www.github.com/struanking">Github</a><span>|</span><a href="https://www.linkedin.com/struanking">LinkedIn</a>
    <button type="button" class="" data-toggle-theme>Use dark theme</button>
  </nav>
</header>
