<header role="banner">
  <p class="indent"><strong>struan</strong>king</p>
  <p>
    <a href="https://www.github.com/struanking">Github</a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/struanking">LinkedIn</a>
  </p>
</header>
