<header role="banner" class="wrapper">
  <span class="site-title"><strong>struan</strong>king</span>
  <nav>
    <a href="https://www.github.com/struanking" target="_blank" rel="noopener">Github</a><span>|</span><a href="https://www.linkedin.com/struanking" target="_blank" rel="noopener">LinkedIn</a>
    <span role="status" class="visually-hidden" data-toggle-status></span>
    <button type="button" data-toggle-theme>Use dark theme</button>
  </nav>
</header>
