# dependencies installed by npm
node_modules

# build artefacts
dist
src/_includes/css

# Misc
*.log
npm-debug.*
*.scssc
*.log
*.swp
.DS_Store
Thumbs.db
.sass-cache
.env
.cache
.AppleDouble
.LSOverride