---
font: "https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="{{ font }}&display=swap" />
    <link
      rel="stylesheet"
      href="{{ font }}&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>{{ title }}</title>
    <meta name="description" content="Struan King portfolio" />
    <style>{% include "css/things.css" %}</style>
  </head>
  <body>
    <div class="site-wrap">
      <!-- <div id="notification">A new version of this app is available. <button type="button" id="reload">Update to new version</button></div> -->
      <a class="skip-link visually-hidden" href="#main">
        Skip to content
      </a>
      
      {% include "header.njk" %}
      
      <main id="main" class="wrapper" tabindex="-1">
        {{ content | safe }}
      </main>

      {% include "footer.njk" %}
      
      <div role="alert" id="online-status-message"></div>
    </div>
  </body>
  
  {% set js %} {% include "js/color-mode.js" %} {% endset %}
  <script>
    {{ js | jsmin | safe }}
  </script>
  <script>
    var isOnline = ("onLine" in navigator) && navigator.onLine;
    var hasServiceWorker = 'serviceWorker' in navigator;
    var statusMessage = document.getElementById('online-status-message');

    // online/offline
    window.addEventListener("online", function online() {
      statusMessage.innerText = "You are online";
			statusMessage.classList.remove("offline");
			statusMessage.classList.add("online");
			isOnline = true;
		},false);

		window.addEventListener("offline", function offline() {
      statusMessage.innerText = "You are offline";
			statusMessage.classList.remove("online");
			statusMessage.classList.add("offline");
			isOnline = false;
		},false);

    // Service Worker
    {% if not env.IS_DEV %}
      if (hasServiceWorker) {
        // window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            console.error('Service worker registred:', registration);
          })
          .catch(function(error) {
            console.error('Service worker registration failed:', error);
          });
        // });
      }
    {% endif %}
  </script>
</html>
