.skills-interests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  box-shadow: 0.1rem 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.4);
  border-radius: var(--step--3);
  background-color: white;
  background-color: var(--color-skills);
  font-size: var(--step--1);
}

.skills-interests > article {
  position: relative;
  padding: var(--step-0);
}

@media screen and (min-width: 638px) {
  .skills-interests > * + *::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: var(--step-1);
    bottom: var(--step-1);
    left: -4px;
    border-left: solid 1px var(--color-divider);
  }
}
