.tag {
  display: inline-block;
  background: var(--color-tag);
  color: var(--color-tag-text);
  font-size: var(--step--2);
  padding: 0.1rem 0.5rem;
  border-radius: var(--step-4);
}

.tag:not(:last-child) {
  margin-right: 1ch;
}
