---
permalink: css/things.css
---
{% set css %}
  {% include "css/fluid-text.css" %}
  {% include "css/variables.css" %}
  {% include "css/reset.css" %}
  {% include "css/utilities.css" %}
  {% include "css/base.css" %}
  {% include "css/component.css" %}
{% endset %}

{{ css | cssmin | safe }}
