@import "variables";
@import "reset";

// Import blocks
@import "blocks/components";
@import "blocks/card";
@import "blocks/hero";
@import "blocks/professional-experience";
@import "blocks/promo";
@import "blocks/skills-interest";
@import "blocks/tag";

// Import utilities
@import "utilities/flow";
@import "utilities/fluid-text";
@import "utilities/full-bleed";
@import "utilities/indent";
@import "utilities/inline-list";
@import "utilities/measure-short";
@import "utilities/site-wrap";
@import "utilities/visually-hidden";
@import "utilities/wrapper";

body {
  display: flex;
  flex-direction: column;
  background: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-base);
  font-size: var(--step-0);
  transition: background 250ms ease-in, color 250ms ease-in;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  font-weight: 400;
  line-height: 1.2;
}
h1 {
  font-size: var(--step-5);
}
h2 {
  font-size: var(--step-3);
}
h3 {
  font-size: var(--step-1);
}
a {
  color: var(--color-link);
  font-weight: 500;
  text-decoration-thickness: 1px;
}
/* a:visited {
  color: var(--color-link-visited);
  text-decoration-color: var(--color-link-visited);
} */
a:hover {
  --color-link: var(--color-link-light);
  text-decoration-thickness: 0.1rem;
}
:focus {
  outline: 0.1rem solid var(--color-highlight);
  outline-offset: 0.1rem;
}
:hover:focus {
  outline: 0;
}
::selection {
  background: var(--color-highlight);
  color: var(--color-text);
}

code {
  font-family: var(--font-mono);
  font-size: var(--step-0);
}

.skip-link:focus {
  clip: unset;
  width: auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
  z-index: 99;
}

[role="banner"] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--step--2);
  padding-bottom: var(--step--2);
}
[role="banner"] > * {
  display: flex;
}
.site-title {
  font-size: var(--step-1);
  margin-right: var(--step--1);
}

main {
  flex: auto;
  padding: var(--size-major) 0;
}
main:focus {
  outline: 0;
}
[role="banner"] nav {
  flex: 1 0 auto;
  align-items: center;
  font-size: var(--step--1);
}
[role="banner"] nav > * + * {
  margin-left: 0.65em;
}
[role="banner"] nav button {
  margin-left: auto;
}
@media screen and (min-width: 480px) {
  [role="banner"] nav {
    justify-content: flex-end;
  }
  [role="banner"] nav button {
    margin-left: 0.65em;
  }
}
button {
  background-color: var(--color-button);
  color: var(--color-button-hover);
  border: solid 1px var(--color-button-hover);
  border-radius: var(--step--1);
  font-size: inherit;
  padding: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(247, 208, 112, 0.75); /* --color-highlight in rgb */
}
button:hover {
  background-color: var(--color-button-hover);
  color: var(--color-button);
}
[data-toggle-theme] {
  min-width: 18ch;
}

[role="contentinfo"] {
  margin-top: auto;
}

@keyframes goingOnline {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: scaleX(0.85);
  }
  20% {
    transform: scaleX(1);
  }
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes goingOffline {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

[role="alert"] {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  padding: var(--step--2);
  transition: transform 0.25s linear;
}
.offline {
  animation: 0.25s linear goingOffline;
  background-color: var(--color-offline);
}
.online {
  animation: 3s linear goingOnline forwards;
  background-color: var(--color-online);
}
